<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('template/head')%>
</head>
<body>
    <%- include('template/navbar')%>
   <div class="container mt-2">
      <% if (errorMessage && errorMessage.length > 0 ) { %>
        <div class="alert alert-danger" role="alert">
          <%= errorMessage %>
        </div>
      <% } %>
      <form method="POST" action="/add_prize">
          <div class="mb-3">
            <label for="prize" class="form-label">獎品名稱</label>
            <input type="text" class="form-control" name="prize">
          </div>
          <div class="mb-3">
            <label for="url" class="form-label">圖片網址</label>
            <input type="text" class="form-control" name="url">
          </div>
          <div class="mb-3">
              <label for="weight" class="form-label">獎品權重</label>
              <input type="number" class="form-control" name="weight">
          </div>
          <button type="submit" class="btn btn-primary">提交</button>
      </form>
   </div>
       
</body>
</html>