* {
  padding: 0;
  margin: 0;
}

body {
  font-family: arial,"Microsoft JhengHei","微軟正黑體",sans-serif ;}

.eng {
  font-family: 'Questrial', sans-serif;
}

nav {
  width: 100%;
  height: 84px;
  background-color: white;
  box-shadow: -1.4px -1.4px 6px 0 #97a2a0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
nav .containner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav-logo {
  font-size: 36px;
  color: #489846;
  margin-left: 96px;
}

nav ul {
  display: flex;
  list-style: none;
  margin-right: 121px;
}

nav ul li { 
  margin-left: 13px;
  width: 120px;
  height: 44px;
  border-radius: 8px;
  transition: background 0.1s ease-in;
}

nav ul li a {
  font-size: 18px;
  color: #010101;
  text-decoration: none;
  display: inline-block;
  padding: 10px 24px;
}
nav ul li.active,  nav ul li:hover{
  background: #ff7286;
}

nav ul li.active a, nav ul li a:hover{
  color: white;
}

.lucky-draw {
  margin-top: 84px;
  width: auto;
  height: 767px;
}

.main {
  background-image: url(./games-bn.jpg);
}

.lucky-draw-box {
  width: 500px;
  height: 560px;
  margin: 0 auto;
  border-radius: 16px;
  background-color: white;
  position: relative;
  top: 55px;
}

.lucky-draw-header {
  color: #5ec1b6;
  font-size: 24px;
  text-align: center;
  padding-top: 40px;
  margin-bottom:44px ;
}

.lucky-draw-info {
  display: flex;
  margin: 20px 20px 0px 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid grey;
}

.lucky-draw-info .question {
  display: block;
  flex-basis: 84px;
  margin-right: 20px;
  
}

footer {
  background-color: #e8efee;
  height: 234px;
}

.footer-upper-containter {
  display: flex;
  height: 186px;
  justify-content: space-between;
  align-items: center;
  margin: 0 106px;
}

.contract {
  font-size: 13px;
  line-height: 2.0em;
  color: #484848;
}

.footer-logo-soc {
  height: 186px;

}

.footer-logo-soc .logo {
  font-size: 36px;
  color: #489846;
  margin-top: 35px;
  text-align: right;
}

.footer-logo-soc .social-media {
  font-size: 14px;
  margin-top: 12px;
  color: #484848;
}

.footer-bottom {
  height: 48px;
  background-color: #35564b;
  font-size: 16px;
  color: white;
  text-align: center;
  line-height: 48px;
}

@media (max-width: 945px) {
  nav {
    height: auto;
  }

  nav .containner {
    flex-direction: column;
    align-items: center;
    margin: 0;

  }
  nav .nav-logo{
    margin: 0;
    padding-top: 10px;
  }

  nav .nav-option {
    margin: 0;
    width: 100%;
  }

  nav ul li {
    flex: 1;
    height: auto;
    margin-left: 0;
    border-radius: 0;
    text-align: center;
    margin: 0 auto;
  }

  footer {
    height: auto;
  }
  .footer-upper-containter {
    height: auto;
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 15px 15px;
    margin: 0;

  }
  .footer-logo-soc{
    height: auto;
    margin: 0px 0px;
  }
  .footer-logo-soc .logo {
    margin-top: 0;
    text-align: left;
  }
  .footer-bottom {
    height: auto;
    line-height: 1.5em;
    padding: 3px 5px;
  }
  
  


}
